

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    min-height: 400px;
    margin: 0 auto;
    // background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    //  url(../img/Header1\ img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--aditional-background-color);
    @media screen and (max-width: 1199px) {
            padding-top: 118px;
            padding-bottom: 118px;
        }
                @media screen and (min-width: 1200px) {
                    padding-top:200px;
                        padding-bottom: 200px;
                    height: 600px;
                }

                                
                                
                   
}


 @media (min-width: 1200px) {
     .hero {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
             url(../img/hero-desk.jpg);
     }

@media (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url(../img/hero-desk2x.jpg);
    }
        
} }

    @media (max-width:767px){
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../img/hero-mob.jpg);
        }
        @media (min-resolution: 2dppx) {
         .hero {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url(../img/hero-mob2x.jpg);
                    }}
    }

     @media (min-width: 768px) {
      .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero-tab.jpg);
             }

         @media (min-resolution: 2dppx) {
         .hero {
       background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
       url(../img/hero-tab2x.jpg);
                 }}
             }
    
.container__title {
    // width: 696px;
    width: 100%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    @include font(900, 26px, 1.61, 0.06em);
    //
    text-transform: uppercase;
    color: var(--secondary-text-color);
    @media screen and (min-width: 768px) {
    width: 360px;
    }
        @media screen and (min-width: 1200px) {
            width: 696px;
      @include font(900, 44px, 1.36, 0.06em);
        }

}

.container__btn {
    display: inline-block;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition-property: background-color;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 250ms;
    @include font(700, 16px, 1.87, 0.06em);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-text-color);
    color: var(--secondary-text-color);
    &:hover,
        &:focus {
            background-color: var(--accent-text-color);
            color: var(--secondary-text-color);
        }
                @media screen and (min-width: 1200px) {
                    width: 216px;
                }
}






