.footer-forms__box__input {
    display: flex;
    margin-top: 20px;
    width: 280px;
    height: 50px;
    padding-left: 28px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: var(--secondary-text-color);
    &::placeholder {
        @include font(400, 16px, 1.25, 0.03em);
            color: rgba(255, 255, 255, 0.6);
        }
 @media screen and (min-width: 480px) {
     width: 450px;
   
 }
}

.footer-forms__label {
    display: block;
    
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--secondary-text-color);
    @media screen and (min-width: 768px) {
            text-align: center;
        }
                 @media screen and (min-width: 1200px) {
                    margin-left: 93px;
                 }
                 
}



.footer-forms {
    @extend %algin-list;
    
    justify-content: center;
@media screen and (min-width: 1200px) {
    margin-left: auto;
    }
}


.footer-forms__btn {
    @extend %algin-list;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    /* margin-left: 370px;
    margin-top: -50px; */
    
    background: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--secondary-text-color);
    cursor: pointer;
    @include font(700, 16px, 1.87, 0.06em);
    @media screen and (min-width: 1200px) {
            margin-left: 12px;
            margin-top: 0;
        }
}

.footer-forms__btn__svg {
    margin-left: 10px;
    position: absolute;
    top: 13px;
    bottom: 13px;
    margin-left: 150px
}

.footer-forms__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    @media screen and (min-width: 768px) {
        margin-top: 232px;
        margin-left:-540px;
        }
 @media screen and (min-width: 1200px) {
        align-items: flex-end;
        margin-top: 0;
 }
}

