

 .logo {
     padding-top: 16px;
     padding-bottom: 16px;
     font-family: 'Raleway', sans-serif;
     font-style: normal;
     @include font(700,24px ,1.16 ,0.03em);
     text-decoration: none;
     color: var(--accent-text-color);
    @media screen and (min-width: 1200px) {
            padding-top: 9px;
                padding-bottom: 10px;
        }
 }


 .logo__text {
     color: var(--secondary-logo-color);
     cursor: pointer;
 }
 
 .logo-text--color {
     color: #FFFFFF;
 }

 .footer__logo {
     padding: 0;
     display: inline-block;
     margin-bottom: 20px;
 }