.network {
    display: flex;
    gap: 10px;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 20px;
}


.network__link {
    @extend %algin-list;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: fill, color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(255, 255, 255, 0.1);
    fill: #AFB1B8;
    justify-content: center;
  &:hover {
            background-color: var(--accent-text-color);
            fill: var(--secondary-text-color);
        }
}

.bottom-icon {
    margin-top: 60px;
    @media screen and (min-width: 768px) {
            margin-top: 5px;
            margin-left: 165px;
            text-align: center;
        }
}

.bottom-icon__paragraph {
    margin-bottom: 20px;
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;

    color: #FFFFFF;
}

.bottom-icon__network {
    gap: 10px;
    display: flex;
    list-style: none;
}

.network__link--color {
    fill: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
}


