.header-menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffff;
    top:0;
    left: 0;
    z-index: 2;
transform: translateX(100%);
transition: transform 250ms ease-in-out;
display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;

@media screen and (min-width: 768px) {
       display: none;
    }}


.header-menu.is-open{
transform: translateX(0);
}
  
.header-button {
    margin-left: auto;
    border: none;
    background-color: transparent;
    margin-top: -5px;
    margin-right:  -5px;
    @media screen and (min-width: 768px) {
        display: none;
        }
}
    
.header-button:hover{
    fill: var(--accent-text-color);
}
   

.header-button__close{
    position: absolute;
    top:10px;
    right:15px;
    display: block;
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header-button__close:hover {
    fill:var(--accent-text-color);
}



.current-menu__link{
       text-decoration: none;
       font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #212121;
}

.current-menu__list {
    list-style: none;
}
.current-menu__list:not(:last-child){
    margin-bottom: 34px;
}

.current-menu__link--changes{
    color: var(--accent-text-color);
}
.contacts-menu {
    list-style: none;
}

.list-menu:not(:last-child){
        margin-bottom: 32px;
}
.list-menu__link{
    text-decoration: none;
    font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var#757575;
        @media screen and (max-width: 388px) {
            font-size: 24px;
                }
  
}

.list-menu__link--changes {

      font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    
        color: #757575;
}


.current-network {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    list-style: none;
    
}

.current-network__link{
    text-decoration: none;
   
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: .02em;
        color: var(--accent-color);
       
}


.current-network__item:not(:last-child){
    border-right: 1px solid rgba(33, 33, 33, .2);
       padding-right: 10px;
}

.current-network__item:not(:first-child) {
    margin-left: 10px;
}
.container-menu{
    width: 100%;
    height: 100%;
  
}

